@import 'style.scss';
#aboutPage{
    section{
        position: relative;
        margin: 0 auto;
        max-width: 750px;

        $contentGap: 50px;
        $gap: 20%;
        font-family: latoLight;
        > * {
            margin: 0 auto;
        }
        h2, p{
            margin: 1em 0;
        }
        h2{
            font-size: 24px;
            font-family: latoMedium;
        }
        p{
            font-size: 20px;
        }
        #brand{
            position: sticky;
            top: 80px;
        }
        #myName{
            $fontSize: 100px;
            width: 70px;
            font-size: $fontSize;
            word-break: break-all;
            line-height: $fontSize + 20;
            margin-left: -$contentGap;
            position: absolute;
            left: 0;
            text-align: center;
            transform: translateX(-100%);
            font-family: latoMedium;
        }
        .breathingFragment{
            position: absolute;
            right: 0;
            margin-right: -$contentGap;
            transform: translateX(100%);
        }
    }
}
@media only screen and (max-width: 1366px) {
    #aboutPage{
        $contentGap: 30px;
        section{
            max-width: 450px;
            .breathingFragment{
                @include breathingFragment(130px);
                margin-right: -$contentGap;
            }
            #myName{
                $fontSize: 80px;
                font-size: $fontSize;
                line-height: $fontSize + 20;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    #aboutPage{
        $contentGap: 30px;
        section{
            max-width: 100%;
            margin: 0;
            padding: 0 50px;
            overflow: hidden;
            .breathingFragment{
                position: relative;
                transform: inherit;
                left: auto;
                right: auto;
                margin: 0 auto 2em auto;
                display: block;
            }
            #myName{
                $letterSpacing: 50px;
                width: 310px;
                margin: 0 auto;
                position: relative;
                transform: inherit;
                font-size: 70px;
                word-break: normal;
                letter-spacing: $letterSpacing;
                line-height: normal;
            }
        }
    }
}
@media only screen and (max-width: 428px) {
    #aboutPage{
        section{
            padding: 0 50px;
            #myName{
                width: auto;
                $letterSpacing: 30px;
                font-size: 50px;
                letter-spacing: $letterSpacing;
                margin-right: -$letterSpacing;
            }
        }
    }
}