@font-face {
  font-family: "latoLight";
  src: url("./Fonts/latoLight.woff2") format("woff2"), url("./Fonts/latoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoMedium";
  src: url("./Fonts/latoMedium.woff2") format("woff2"), url("./Fonts/latoMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 16px;
}

.breathingFragment {
  width: 180px;
  height: 145px;
}

.noPeaky {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0px none !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

article > .title {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 75px 0 150px 0;
  position: relative;
  overflow: hidden;
}
article > .title h1 {
  font-size: 100px;
  font-family: latoMedium;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 55px;
  padding-left: 55px;
  display: inline-block;
}
article > .title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: latoMedium;
  margin: 0 auto;
  letter-spacing: 55px;
  padding-top: 7px;
  padding-left: 43px;
  display: inline-block;
  opacity: 0.13;
}
article > .title div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 400px;
  letter-spacing: 300px;
  padding-left: 300px;
  opacity: 0.06;
  font-family: latoMedium;
}

#aboutPage h1::after {
  content: "ABOUT";
}

#characterPage h1::after {
  content: "CHARACTER";
}

.card {
  border-radius: 10px;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.4);
  background: rgb(11, 43, 34);
  background: linear-gradient(45deg, rgb(11, 43, 34) 0%, rgb(43, 189, 150) 100%);
}

.card.reverseLight {
  box-shadow: -5px 10px 20px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1366px) {
  article > .title {
    padding-bottom: 100px;
  }
  article > .title div {
    transform: translate(-50%, -15%);
    font-size: 300px;
    letter-spacing: 100px;
    padding-left: 100px;
  }
  #characterPage > .title h1 {
    font-size: 60px;
    top: 20%;
    left: 50%;
    letter-spacing: 35px;
    padding-left: 35px;
  }
  #characterPage > .title h1::after {
    font-size: 60px;
    letter-spacing: 35px;
  }
}
@media only screen and (max-width: 768px) {
  article > .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  article > .title div {
    transform: translate(-50%, -16%);
    font-size: 180px;
    letter-spacing: 50px;
    padding-left: 50px;
  }
  article > .title h1 {
    padding-left: 35px;
  }
  article > .title h1, article > .title h1::after {
    font-size: 50px;
    letter-spacing: 24px;
  }
  article > .title h1::after {
    padding-left: 24px;
    padding-top: 5px;
  }
  #characterPage > .title h1 {
    font-size: 35px;
    top: 20%;
    left: 50%;
    letter-spacing: 20px;
    padding-left: 20px;
  }
  #characterPage > .title h1::after {
    font-size: 35px;
    letter-spacing: 20px;
  }
}
@media only screen and (max-width: 428px) {
  article > .title {
    height: 50px;
    overflow: visible;
  }
  article > .title div {
    width: 210px;
    transform: translate(-50%, -10%);
    font-size: 80px;
    word-wrap: break-word;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  #characterPage > .title h1 {
    top: 25%;
    font-size: 40px;
    letter-spacing: 10px;
    padding-left: 10px;
  }
  #characterPage > .title h1::after {
    font-size: 40px;
    letter-spacing: 10px;
    padding-top: 3px;
    padding-left: 15px;
  }
  #characterPage > .title div {
    width: 220px;
    font-size: 60px;
    letter-spacing: 30px;
    padding-left: 30px;
  }
}
#characterPage .characterDeck {
  text-align: center;
}
#characterPage .characterDeck .deck.life {
  width: 750px;
  height: 850px;
  margin: 0 auto;
  left: 35px;
}
#characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span {
  width: 40px;
  left: -30px;
  top: 50%;
}
#characterPage .characterDeck .deck.life .card:nth-child(3) {
  right: 0%;
  top: 0px;
}
#characterPage .characterDeck .deck.life .card:nth-child(4) {
  right: 13.3333333333%;
  top: 50px;
}
#characterPage .characterDeck .deck.life .card:nth-child(5) {
  right: 26.6666666667%;
  top: 100px;
}
#characterPage .characterDeck .deck.life .card:nth-child(6) {
  right: 40%;
  top: 150px;
}
#characterPage .characterDeck .deck.life .card:nth-child(7) {
  right: 53.3333333333%;
  top: 200px;
}
#characterPage .characterDeck .deck.life .card:nth-child(8) {
  right: 66.6666666667%;
  top: 250px;
}
#characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span {
  transform: translate(-100%, -20%);
}
#characterPage .characterDeck .deck.work {
  width: 850px;
  height: 900px;
  margin: 0 auto;
  left: 40px;
  margin-bottom: 100px;
}
#characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
  width: 50px;
  left: -30px;
  top: 50%;
}
#characterPage .characterDeck .deck.work .card:nth-child(3) {
  right: 0%;
  bottom: 0px;
}
#characterPage .characterDeck .deck.work .card:nth-child(4) {
  right: 11.7647058824%;
  bottom: 50px;
}
#characterPage .characterDeck .deck.work .card:nth-child(5) {
  right: 23.5294117647%;
  bottom: 100px;
}
#characterPage .characterDeck .deck.work .card:nth-child(6) {
  right: 35.2941176471%;
  bottom: 150px;
}
#characterPage .characterDeck .deck.work .card:nth-child(7) {
  right: 47.0588235294%;
  bottom: 200px;
}
#characterPage .characterDeck .deck.work .card:nth-child(8) {
  right: 58.8235294118%;
  bottom: 250px;
}
#characterPage .characterDeck .deck.work .card:nth-child(9) {
  right: 70.5882352941%;
  bottom: 300px;
}
#characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
  transform: translate(-100%, -85%);
}
#characterPage .characterDeck .deck {
  position: relative;
  display: inline-block;
}
#characterPage .characterDeck .deck > h2, #characterPage .characterDeck .deck .card .title .deck > span {
  font-size: 50px;
  font-family: latoMedium;
  word-break: break-all;
  text-align: center;
  position: absolute;
  margin: 0;
}
#characterPage .characterDeck .deck .card {
  width: 350px;
  height: 600px;
  text-align: center;
  padding: 30px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#characterPage .characterDeck .deck .card .icon {
  height: 150px;
}
#characterPage .characterDeck .deck .card img {
  max-width: 200px;
  height: 100%;
}
#characterPage .characterDeck .deck .card .title {
  font-family: latoMedium;
  font-weight: normal;
  margin: 20px 0 40px 0;
  font-size: 20px;
  position: relative;
}
#characterPage .characterDeck .deck .card .title h2, #characterPage .characterDeck .deck .card .title span {
  font-size: 40px;
  margin: -10px 0 0 0;
  position: relative;
  z-index: 1;
}
#characterPage .characterDeck .deck .card .title span {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  z-index: 0;
}
#characterPage .characterDeck .deck .card .description {
  max-height: 250px;
  overflow-y: auto;
  font-family: latoLight;
  font-size: 20px;
  text-align: left;
}
#characterPage .characterDeck .slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1366px) {
  #characterPage .characterDeck .deck.life {
    width: 510px;
    height: 850px;
    margin: 0 auto;
    left: 35px;
  }
  #characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span {
    width: 40px;
    left: -30px;
    top: 50%;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(3) {
    right: 0%;
    top: 0px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(4) {
    right: 7.8431372549%;
    top: 50px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(5) {
    right: 15.6862745098%;
    top: 100px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(6) {
    right: 23.5294117647%;
    top: 150px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(7) {
    right: 31.3725490196%;
    top: 200px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(8) {
    right: 39.2156862745%;
    top: 250px;
  }
  #characterPage .characterDeck .deck.work {
    width: 550px;
    height: 900px;
    margin: 0 auto;
    left: 40px;
    margin-bottom: 100px;
  }
  #characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
    width: 50px;
    left: -30px;
    top: 50%;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(3) {
    right: 0%;
    bottom: 0px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(4) {
    right: 7.2727272727%;
    bottom: 50px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(5) {
    right: 14.5454545455%;
    bottom: 100px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(6) {
    right: 21.8181818182%;
    bottom: 150px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(7) {
    right: 29.0909090909%;
    bottom: 200px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(8) {
    right: 36.3636363636%;
    bottom: 250px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(9) {
    right: 43.6363636364%;
    bottom: 300px;
  }
}
@media only screen and (max-width: 768px) {
  #characterPage .characterDeck {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }
  #characterPage .characterDeck .deck > h2, #characterPage .characterDeck .deck .card .title .deck > span {
    font-size: 50px;
    font-family: latoMedium;
    word-break: normal;
    text-align: center;
    position: absolute;
  }
  #characterPage .characterDeck .deck .card {
    width: 300px;
  }
  #characterPage .characterDeck .deck.life {
    width: 360px;
    height: 675px;
    margin: 0 auto;
    left: 35px;
    left: auto;
    margin-top: 100px;
  }
  #characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span {
    width: 40px;
    left: -30px;
    top: 50%;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(3) {
    right: 0%;
    top: 0px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(4) {
    right: 4.1666666667%;
    top: 15px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(5) {
    right: 8.3333333333%;
    top: 30px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(6) {
    right: 12.5%;
    top: 45px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(7) {
    right: 16.6666666667%;
    top: 60px;
  }
  #characterPage .characterDeck .deck.life .card:nth-child(8) {
    right: 20.8333333333%;
    top: 75px;
  }
  #characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span {
    width: auto;
    top: -15px;
    left: 60%;
    transform: translate(-50%, -100%);
  }
  #characterPage .characterDeck .deck.work {
    width: 375px;
    height: 690px;
    margin: 0 auto;
    left: 40px;
    left: auto;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  #characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
    width: 50px;
    left: -30px;
    top: 50%;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(3) {
    right: 0%;
    bottom: 0px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(4) {
    right: 4%;
    bottom: 15px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(5) {
    right: 8%;
    bottom: 30px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(6) {
    right: 12%;
    bottom: 45px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(7) {
    right: 16%;
    bottom: 60px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(8) {
    right: 20%;
    bottom: 75px;
  }
  #characterPage .characterDeck .deck.work .card:nth-child(9) {
    right: 24%;
    bottom: 90px;
  }
  #characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
    width: auto;
    top: -15px;
    left: 40%;
    transform: translate(-50%, -100%);
  }
}
@media only screen and (max-width: 428px) {
  #characterPage .characterDeck .deck.life > h2, #characterPage .characterDeck .deck .card .title .deck.life > span, #characterPage .characterDeck .deck.work > h2, #characterPage .characterDeck .deck .card .title .deck.work > span {
    display: inline-block;
    position: relative;
    left: auto;
    transform: translate(-10%, -100%);
  }
}/*# sourceMappingURL=character.css.map */