@import './style.scss';

#characterPage{
    .characterDeck{
        $gap: 50px;
        $deckW: 350px;
        $deckH: 600px;
        .deck.life{
            width: $deckW + $gap * 5;
            height: $deckH + $gap * 5;
            @for $i from 0 through 4 {
                .card:nth-child(#{$i+1}) {
                  top: $gap * $i;
                  right: $gap * $i;
                }
              }
        }
        .deck.work{
            width: $deckW + $gap * 6;
            height: $deckH + $gap * 6;
            @for $i from 0 through 5 {
                .card:nth-child(#{$i+1}) {
                  top: $gap * $i;
                  left: $gap * $i;
                }
              }
        }
        .deck{
            position: relative;
            .card{
                width: $deckW;
                height:$deckH;
                text-align: center;
                padding: 30px;
                position: absolute;
                z-index: 1;
                .icon{
                    height: 150px;
                }
                img{
                    max-width: 200px;
                    height: 100%;
                }
                .title{
                    font-family: latoMedium;
                    font-weight: normal;
                    margin: 20px 0 40px 0;
                    font-size: 20px;
                    position: relative;
                    h2{
                        font-size: 40px;
                        margin: -10px 0 0 0;
                        position: relative;
                        z-index: 1;
                    }
                    span{
                        @extend h2;
                        position: absolute;
                        top: 42%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #000;
                        z-index: 0;
                    }
                }
                .description{
                    font-family: latoLight;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
    }
}