@use 'sass:math';
@import './style.scss';

$cardW: 350;
$cardH: 600;
$WorkChildCount: 6;
$LifeChildCount: 5;
$noneCardElements: 2;
@mixin spreadEqually($childCount, $work: false, $h2W, $gapMultiplier: 2, $gap: 50, $cardW: 350){
    $deckW: $cardW + $gap * $gapMultiplier * ($childCount - 1);
    width: $deckW * 1px;
    height: $cardH + $gap * $childCount * 1px;
    margin: 0 auto;
    left: math.div(($h2W + 30), 2);
    > h2{
        width: $h2W;
        left: -30px;
        top: 50%;
    }
    @for $i from 0 through $childCount {
        .card:nth-child(#{$i+$noneCardElements + 1}) {
            $right: math.div(( math.div(($deckW - $cardW), $childCount - 1) * ($i)), $deckW) * 100%;
            right: $right;
            @if $work{
            bottom: $gap * $i * 1px;
            } @else{
            top: $gap * $i * 1px;
            }
        }
        }
}
#characterPage{
    .characterDeck{
        text-align: center;
        $h2FontSize: 50px;
        .deck.life{
            @include spreadEqually($LifeChildCount, false, $h2FontSize - 10);
            > h2{
                transform: translate(-100%, -20%);
            }
        }
        .deck.work{
            @include spreadEqually($WorkChildCount, true, $h2FontSize);
            margin-bottom: 100px;
            > h2{
                transform: translate(-100%, -85%);
            }
        }
        .deck{
            position: relative;
            display: inline-block;
            > h2{
                font-size: $h2FontSize;
                font-family: latoMedium;
                word-break: break-all;
                text-align: center;
                position: absolute;
                margin: 0;
            }
            .card{
                width: $cardW * 1px;
                height: $cardH * 1px;
                text-align: center;
                padding: 30px;
                position: absolute;
                z-index: 1;
                box-sizing: border-box;
                user-select: none;
                .icon{
                    height: 150px;
                }
                img{
                    max-width: 200px;
                    height: 100%;
                }
                .title{
                    font-family: latoMedium;
                    font-weight: normal;
                    margin: 20px 0 40px 0;
                    font-size: 20px;
                    position: relative;
                    h2{
                        font-size: 40px;
                        margin: -10px 0 0 0;
                        position: relative;
                        z-index: 1;
                    }
                    span{
                        @extend h2;
                        position: absolute;
                        top: 42%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #000;
                        z-index: 0;
                    }
                }
                .description{
                    max-height: 250px;
                    overflow-y: auto;
                    font-family: latoLight;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
        .slider{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width: 1366px){
    #characterPage{
        .characterDeck{
            $h2FontSize: 50px;
            .deck.life{
                @include spreadEqually($LifeChildCount, false, $h2FontSize - 10, .8);
            }
            .deck.work{
                @include spreadEqually($WorkChildCount, true, $h2FontSize, .8);
                margin-bottom: 100px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    $gap: 15;
    $cardW: 300;
    #characterPage{
        .characterDeck{
            width: 100%;
            overflow-x: hidden;
            overflow-y: visible;
            $h2FontSize: 50px;
            padding-left: 50px;
            box-sizing: border-box;
            .deck{
                > h2{
                    font-size: $h2FontSize;
                    font-family: latoMedium;
                    word-break: normal;
                    text-align: center;
                    position: absolute;
                }
                .card{
                    width: $cardW * 1px;
                }
            }
            .deck.life{
                @include spreadEqually($LifeChildCount, false, $h2FontSize - 10, 1, $gap, $cardW);
                left: auto;
                > h2{
                    width: auto;
                    top: -$gap * 1px;
                    left: 60%;
                    transform: translate(-50%, -100%);
                }
                margin-top: 100px;
            }
            .deck.work{
                @include spreadEqually($WorkChildCount, true, $h2FontSize, 1, $gap, $cardW);
                left: auto;
                > h2{
                    width: auto;
                    top: -$gap * 1px;
                    left: 40%;
                    transform: translate(-50%, -100%);
                }
                margin-top: 150px;
                margin-bottom: 100px;
            }
        }
    }
}

@media only screen and (max-width: 428px) {
    
    #characterPage{
        section{
            margin-top: 50px;
        }
        .characterDeck{
            .deck.life, .deck.work{
                > h2{
                    display: inline-block;
                    position: relative;
                    left: auto;
                    transform: translate(-10%, -100%);
                }
            }
        }
    }
}