@use 'sass:math';
@import './style.scss';

$gap: 50;
$cardW: 350;
$cardH: 600;
#characterPage{
    .characterDeck{
        $h2FontSize: 50px;
        .deck.life{
            $childCount: 5;
            $deckW: $cardW + $gap*2 * $childCount;
            width: $deckW * 1px;
            height: $cardH + $gap * $childCount * 1px;
            margin: 0 auto;
            @for $i from 0 through $childCount {
                .card:nth-child(#{$i+2}) {
                 $rigth: (( math.div(($deckW - $cardW), $childCount - 1) * ($i)) / $deckW) * 100%;
                  top: $gap * $i * 1px;
                  right: $rigth;
                }
              }
            > h2{
                width: $h2FontSize - 10;
                left: -30px;
                top: 50%;
                transform: translate(-100%, -40%);
            }
        }
        .deck.work{
            $childCount: 6;
            $deckW: $cardW + $gap*2 * $childCount;
            width: $deckW * 1px;
            height: $cardH + $gap * $childCount * 1px;
            margin: 100px auto 0 auto;
            @for $i from 0 through $childCount {
                .card:nth-child(#{$i+2}) {
                 $left: (( math.div(($deckW - $cardW), $childCount - 1) * ($i)) / $deckW) * 100%;
                  top: $gap * $i * 1px;
                  left: $left;
                }
              }
              > h2{
                  width: $h2FontSize;
                  right: -30px;
                  top: 50%;
                  transform: translate(100%, -25%);
              }
        }
        .deck{
            position: relative;
            > h2{
                font-size: $h2FontSize;
                font-family: latoMedium;
                word-break: break-all;
                text-align: center;
                position: absolute;
            }
            .card{
                width: $cardW * 1px;
                height: $cardH * 1px;
                text-align: center;
                padding: 30px;
                position: absolute;
                z-index: 1;
                box-sizing: border-box;
                .icon{
                    height: 150px;
                }
                img{
                    max-width: 200px;
                    height: 100%;
                }
                .title{
                    font-family: latoMedium;
                    font-weight: normal;
                    margin: 20px 0 40px 0;
                    font-size: 20px;
                    position: relative;
                    h2{
                        font-size: 40px;
                        margin: -10px 0 0 0;
                        position: relative;
                        z-index: 1;
                    }
                    span{
                        @extend h2;
                        position: absolute;
                        top: 42%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #000;
                        z-index: 0;
                    }
                }
                .description{
                    max-height: 250px;
                    overflow-y: auto;
                    font-family: latoLight;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
    }
}