#contactPage {
  text-align: center;
  display: grid;
}
#contactPage #contact {
  width: 825px;
  padding: 25px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  place-self: center;
}
#contactPage #contact h2 {
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-family: latoMedium;
}
#contactPage #contact form {
  padding: 25px;
  display: inline-block;
  font-family: latoLight;
}
#contactPage #contact form .inputs {
  float: left;
}
#contactPage #contact form > div {
  display: inline-block;
}
#contactPage #contact form input, #contactPage #contact form textarea {
  font-family: latoLight;
  width: 350px;
  height: 50px;
  font-size: 16px;
  padding: 15px 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1882352941);
  box-sizing: border-box;
  border: none;
  display: block;
}
#contactPage #contact form .inputs input:not(:first-child), #contactPage #contact form .inputs textarea:not(:first-child) {
  margin-top: 25px;
}
#contactPage #contact form textarea {
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  width: 350px;
  float: left;
  margin-top: 0;
  height: 100%;
  margin-left: 25px;
  padding: 15px 20px;
}
#contactPage #contact form input:focus-visible, #contactPage #contact form textarea:focus-visible {
  border: 2px solid #fff;
  outline: none !important;
}
#contactPage #contact form .button {
  display: block;
  width: auto;
  height: auto;
  margin: 25px auto -25px auto;
  position: relative;
}
#contactPage #contact form .button button {
  position: relative;
}
#contactPage #contact #status {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 69;
}
#contactPage #contact #status > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #fff;
}
#contactPage #contact #error {
  margin-top: 20px;
  font-family: latoMedium;
  color: #fff;
}
#contactPage #contact #error .charcoalButton {
  font-size: 14px;
  padding: 10px 20px;
}
#contactPage .socialMedia {
  font-family: latoMedium;
  background: #262F8F;
  border-radius: 10px;
  display: inline-block;
  margin: 50px 50px 0 50px;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  place-self: center;
}
#contactPage .socialMedia h2 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 10px 30px;
  display: inline-block;
  background-image: url("./Assets/builtWithBG.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#contactPage .socialMedia .links {
  width: 100%;
}
#contactPage .socialMedia .links a {
  padding: 0 10px;
}

@media only screen and (max-width: 1366px) {
  #contactPage #contact {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
  }
  #contactPage #contact h1 {
    font-size: 30px;
  }
  #contactPage #contact form {
    display: block;
  }
  #contactPage #contact form > div {
    width: 100%;
  }
  #contactPage #contact form .inputs {
    float: inherit;
    width: 100%;
  }
  #contactPage #contact form .inputs input, #contactPage #contact form .inputs textarea {
    width: 100%;
  }
  #contactPage #contact form textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    float: inherit;
    margin-top: 25px;
    margin-left: 0;
  }
  #contactPage #contact form .button {
    margin-bottom: 0;
  }
  #contactPage #socialMedia h2 {
    font-size: 22px;
  }
}/*# sourceMappingURL=Contact.css.map */