@use 'sass:math';
@import './style.scss';

@mixin workGradient ($deg, $blackPercentage: 33%){
    background: rgb(26,35,126);
    background: linear-gradient($deg, rgba(26,35,126,1) 0%, rgba(0,0,0,1) $blackPercentage);
}

@mixin lifeGradient ($deg, $blackPercentage: 33%){
    background: rgb(6,78,59);
    background: linear-gradient($deg, rgba(6,78,59,1) 0%, rgba(0,0,0,1) $blackPercentage);  
}

#homePage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    .breathingFragment{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@mixin freeFlow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@mixin division {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

.borderButton{
    width: 180px;
    height: 70px;
    font-size: 30px;
    font-family: latoMedium;
    color: #fff;
    margin: 0;
    border: 0;
    padding: 0;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    span{
        z-index: 2;
        position: relative;
    }
}
.borderButton::after{
    content: '';
    $width: 97.5%;
    $height:  95%;
    width: $width;
    height: $height;
    position: absolute;
    left: math.div(100 - $width, 2);
    top: math.div(100 - $height, 2);
    background: #000;
    z-index: 0;
}

#overTakers{
    @include freeFlow;
    z-index: -1;
    >div{
        @include division;
        width: 100%;
    }
    .work{
        left: 0;
        @include workGradient(45deg);
    }
    .life{
        right: 0;      
        @include lifeGradient(-45deg);
    }
}
#division{
    @include freeFlow();
    overflow: hidden;
    >div{
        @include division();
        .treeBrain{
            $width: 45%;
            $height: $width * 1.695652173913043;
            width: $width;
            padding-bottom: $height;
            position: absolute;
            top: 50%;
            background-size: 100%;
            transform: translateY(-50%);
        }
    }
    .work{
        left: 0;
        .treeBrain{
            right: 0;
            background-image: url('./Assets/WorkCodes.png');
        }
        .borderButton{
            @include workGradient(-90deg, 100%);
        }
    }
    .life{
        right: 0;
        .treeBrain{
            left: 0;
            background-image: url('./Assets/LifeStrains.png');
        }
        .borderButton{
            @include lifeGradient(90deg, 100%);
        }
    }
}

@media only screen and (max-width: 1366px) {
    #division{
        .borderButton{
            width: 150px;
            height: 65px;
            font-size: 24px;
        }
        .breathingFragment{
            width: 130px;
            height: 105px;
        }
    }
}
@media only screen and (max-width: 900px) {
    #division{
        >div{
            width: 100%;
            height: 50%;
        }
        .life{
            top: 50%;
            .treeBrain{
                left: 50%;
                top: 0;
                transform: rotate(90deg) translateY(-50%);
                transform-origin: top left;
            }
        }
        .work{
            top: 0%;
            .treeBrain{
                left: 50%;
                top: auto;
                bottom: 0;
                transform: rotate(90deg) translate(-100%, 50%);
                transform-origin: bottom left;
            }
        }
    }
    #overTakers{
        >div{
            width: 100%;
            height: 50%;
        }
        .work{
            @include workGradient(180deg);
        }
        .life{
            top: 50%;
            @include lifeGradient(0deg);
        }
    }
}
@media only screen and (max-width: 400px) {
    #division{
        >div{
            .treeBrain{
                $width: 100%;
                $height: $width * 1.695652173913043;
                width: $width;
                padding-bottom: $height;
            }
        }
    }
}