@font-face {
  font-family: "latoLight";
  src: url("./Fonts/latoLight.woff2") format("woff2"), url("./Fonts/latoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoMedium";
  src: url("./Fonts/latoMedium.woff2") format("woff2"), url("./Fonts/latoMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 16px;
}

.breathingFragment {
  width: 180px;
  height: 145px;
}

.noPeaky {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0px none !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

article > .title {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 75px 0 150px 0;
  position: relative;
  overflow: hidden;
}
article > .title h1 {
  font-size: 100px;
  font-family: latoMedium;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 55px;
  padding-left: 55px;
  display: inline-block;
}
article > .title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: latoMedium;
  margin: 0 auto;
  letter-spacing: 55px;
  padding-top: 7px;
  padding-left: 43px;
  display: inline-block;
  opacity: 0.13;
}
article > .title div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 400px;
  letter-spacing: 300px;
  padding-left: 300px;
  opacity: 0.06;
  font-family: latoMedium;
}

#aboutPage h1::after {
  content: "ABOUT";
}

#characterPage h1::after {
  content: "CHARACTER";
}

@media only screen and (max-width: 1366px) {
  article > .title {
    padding-bottom: 100px;
  }
  article > .title div {
    transform: translate(-50%, -15%);
    font-size: 300px;
    letter-spacing: 100px;
    padding-left: 100px;
  }
  #characterPage > .title h1 {
    font-size: 60px;
    top: 20%;
    left: 50%;
    letter-spacing: 35px;
    padding-left: 35px;
  }
  #characterPage > .title h1::after {
    font-size: 60px;
    letter-spacing: 35px;
  }
}
@media only screen and (max-width: 768px) {
  article > .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  article > .title div {
    transform: translate(-50%, -16%);
    font-size: 180px;
    letter-spacing: 50px;
    padding-left: 50px;
  }
  article > .title h1 {
    padding-left: 35px;
  }
  article > .title h1, article > .title h1::after {
    font-size: 50px;
    letter-spacing: 24px;
  }
  article > .title h1::after {
    padding-left: 24px;
    padding-top: 5px;
  }
  #characterPage > .title h1 {
    font-size: 35px;
    top: 20%;
    left: 50%;
    letter-spacing: 20px;
    padding-left: 20px;
  }
  #characterPage > .title h1::after {
    font-size: 35px;
    letter-spacing: 20px;
  }
}
@media only screen and (max-width: 428px) {
  article > .title {
    height: 50px;
    overflow: visible;
  }
  article > .title div {
    width: 210px;
    transform: translate(-50%, -10%);
    font-size: 80px;
    word-wrap: break-word;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  #characterPage > .title h1 {
    top: 25%;
    font-size: 24px;
    letter-spacing: 10px;
    padding-left: 10px;
  }
  #characterPage > .title h1::after {
    font-size: 24px;
    letter-spacing: 10px;
    padding-top: 3px;
    padding-left: 15px;
  }
  #characterPage > .title div {
    width: 220px;
    font-size: 60px;
    letter-spacing: 30px;
    padding-left: 30px;
  }
}
#homePage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#homePage .breathingFragment {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.borderButton {
  width: 180px;
  height: 70px;
  font-size: 30px;
  font-family: latoMedium;
  color: #fff;
  margin: 0;
  border: 0;
  padding: 0;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.borderButton span {
  z-index: 2;
  position: relative;
}

.borderButton::after {
  content: "";
  width: 97.5%;
  height: 95%;
  position: absolute;
  left: 1.25%;
  top: 2.5%;
  background: #000;
  z-index: 0;
}

#overTakers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#overTakers > div {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
#overTakers .work {
  left: 0;
  background: rgb(26, 35, 126);
  background: linear-gradient(45deg, rgb(26, 35, 126) 0%, rgb(0, 0, 0) 33%);
}
#overTakers .life {
  right: 0;
  background: rgb(6, 78, 59);
  background: linear-gradient(-45deg, rgb(6, 78, 59) 0%, rgb(0, 0, 0) 33%);
}

#division {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#division > div {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}
#division > div .treeBrain {
  width: 45%;
  padding-bottom: 76.3043478261%;
  position: absolute;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}
#division .work {
  left: 0;
}
#division .work .treeBrain {
  right: 0;
  background-image: url("./Assets/WorkCodes.png");
}
#division .work .borderButton {
  background: rgb(26, 35, 126);
  background: linear-gradient(-90deg, rgb(26, 35, 126) 0%, rgb(0, 0, 0) 100%);
}
#division .life {
  right: 0;
}
#division .life .treeBrain {
  left: 0;
  background-image: url("./Assets/LifeStrains.png");
}
#division .life .borderButton {
  background: rgb(6, 78, 59);
  background: linear-gradient(90deg, rgb(6, 78, 59) 0%, rgb(0, 0, 0) 100%);
}

@media only screen and (max-width: 1366px) {
  #division .borderButton {
    width: 150px;
    height: 65px;
    font-size: 24px;
  }
  #division .breathingFragment {
    width: 130px;
    height: 105px;
  }
}
@media only screen and (max-width: 900px) {
  #division > div {
    width: 100%;
    height: 50%;
  }
  #division .life {
    top: 50%;
  }
  #division .life .treeBrain {
    left: 50%;
    top: 0;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: top left;
  }
  #division .work {
    top: 0%;
  }
  #division .work .treeBrain {
    left: 50%;
    top: auto;
    bottom: 0;
    transform: rotate(90deg) translate(-100%, 50%);
    transform-origin: bottom left;
  }
  #overTakers > div {
    width: 100%;
    height: 50%;
  }
  #overTakers .work {
    background: rgb(26, 35, 126);
    background: linear-gradient(180deg, rgb(26, 35, 126) 0%, rgb(0, 0, 0) 33%);
  }
  #overTakers .life {
    top: 50%;
    background: rgb(6, 78, 59);
    background: linear-gradient(0deg, rgb(6, 78, 59) 0%, rgb(0, 0, 0) 33%);
  }
}
@media only screen and (max-width: 400px) {
  #division > div .treeBrain {
    max-width: 200px;
    width: 100%;
    padding-bottom: 169.5652173913%;
  }
}/*# sourceMappingURL=index.css.map */