@use 'sass:math';
@import './style.scss';
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 369;
    #dialerContainer{
        position: relative;
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        a{
            color: #fff;
            text-decoration: none;
            font-family: latoMedium;
            font-size: 1em;
            padding: 15px 0;
            display: inline-block;
            box-sizing: border-box;
        }
        .shade{
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    #dialerContainer .shade.R{
        right: 0;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
    #dialerContainer .shade.L{
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
    #dialerHandle{
        $width: 10000vh;
        width: $width;
        height: 150px;
        position: absolute;
        left: -1 * math.div($width ,2);
        top: -100%;
        z-index: 0;
    }
    #expansionArrow{
        width: 33px;
        height: 15px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0%);
        cursor: pointer;
        z-index: 2;
        padding: 10px;
        background: transparent;
        border: 0;
        box-sizing: content-box;
        div{
            content: '';
            width: 50%;
            height: 2px;
            position: absolute;
            background: #fff;
            left: 0;
            bottom: 20%;
            transform-origin: right;
            transform: rotate(45deg);
        }
        div:last-child{
            left: inherit;
            right: 0;
            transform-origin: left;
            transform: rotate(-45deg);
        }
    }
}
