@use 'sass:math';
@import './style.scss';

$menuItemD: 152px;

@mixin shadeBG ($deg){
    background: rgb(0,0,0);
    background: linear-gradient($deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
nav{
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 369;
    #dialerContainer{
        position: relative;
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        a{
            color: #fff;
            text-decoration: none;
            font-family: latoMedium;
            font-size: 1em;
            padding: 15px 0;
            display: inline-block;
            box-sizing: border-box;
        }
        .shade{
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    #dialerContainer .shade.R{
        right: 0;
        @include shadeBG(90deg);
    }
    #dialerContainer .shade.L{
        left: 0;
        @include shadeBG(-90deg);
    }
    #dialerHandle{
        $width: 10000vh;
        width: $width;
        height: $menuItemD;
        position: absolute;
        left: -1 * math.div($width ,2);
        top: -100%;
        z-index: 0;
    }
    #expansionArrow{
        width: 33px;
        height: 15px;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, 0%);
        cursor: pointer;
        z-index: 2;
        padding: 10px;
        background: transparent;
        border: 0;
        box-sizing: content-box;
        div{
            content: '';
            width: 50%;
            height: 2px;
            position: absolute;
            background: #fff;
            bottom: 20%;
        }
        .L{
            transform: rotate(45deg);
            left: 0;
            transform-origin: right;
        }
        .R{
            left: inherit;
            right: 0;
            transform-origin: left;
            transform: rotate(-45deg);
        }
    }
}
@media only screen and (max-width: 900px) {
    nav {
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        #expansionArrow{
            width: 15px;
            height: 33px;
            left: 0;
            top: 50%;
            transform: translate(100%, -50%);
            >div{
                width: 2px;
                height: 50%;
                top: 0;
                left: 0;
                transform: inherit;
            }
            .L{
                top: 0;
                right: 0;
                left: auto;
                transform-origin: bottom;
            }
            .R{
                top: 50%;
                right: 0;
                left: auto;
                transform-origin: top;
            }
        }
        #dialerHandle {
            $height: 10000vh;
            width: $menuItemD;
            height: $height;
            position: absolute;
            top: -1 * math.div($height ,2);
            left: 0;
        }
        #dialerContainer {
            a{
                display: block;
            }
            .shade{
                width: 100%;
                height: 20px;
                position: absolute;
                top: 0;
                z-index: 2;
            }
            .shade.L{
                @include shadeBG(0deg);
            }
            .shade.R{
                @include shadeBG(180deg);
                top: auto;
                bottom: 0;
            }
        }
    } 
}