@import './style.scss';
nav{
    width: 100%;
    position: fixed;
    text-align: center;
    #dialerContainer{
        position: relative;
        margin: 0 auto;
        display: inline-block;
        border: 1px solid;
        a{
            color: #fff;
            text-decoration: none;
            font-family: latoMedium;
            font-size: 1em;
            padding: 15px 0;
            display: inline-block;
            box-sizing: border-box;
        }
        .lefties{
            position: absolute;
        }
    }
}