#projectsPage{
    section{
        > .card{
            width: 400px;
            height: 625px;
            position: relative;
            z-index: 1;
            .img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: .3;
            }
            .content{
                margin: 30px;
                font-family: latoMedium;
                display: inline-block;
                position: absolute;
                bottom: 0;
                > *{
                    position: relative;
                }
                p{margin: 0;}
                .preTitle{
                    font-family: latoLight;
                    font-size: 20px;
                    margin: 0;
                }
                .title{
                    font-size: 24px;
                    margin: -5px 0 20px 0;
                }
                .description{
                    font-size: 20px;
                }
                .charcoalButton{
                    margin-top: 25px;
                    float: right;
                }
            }
        }
    }
}