#projectsPage{
    text-align: center;
    display: grid;
    .previewCards{
        max-width: 80%;
        position: relative;
        margin: 0;
        display: inline-block;
        place-self: center;
        > .card{
            width: 400px;
            height: 625px;
            position: relative;
            z-index: 1;
            float: left;
            margin: 0 50px 100px 50px;
            .img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: .3;
            }
            .content{
                margin: 30px;
                font-family: latoMedium;
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: left;
                font-size: 1em;
                > *{
                    position: relative;
                }
                p{margin: 0;}
                .preTitle{
                    font-family: latoLight;
                    font-size: 1.1em;
                    margin: 0;
                }
                .title{
                    font-size: 1.5em;
                    margin: -5px 0 20px 0;
                }
                .brief{
                    font-size: 1.1em;
                }
                .charcoalButton{
                    margin-top: 25px;
                    float: right;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    #projectsPage{
        .previewCards{
            max-width: 95%;
            > .card{
                width: 300px;
                margin: 0 25px 100px 25px;
                .content{
                    margin: 20px;
                    font-size: .9em;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #projectsPage{
        .previewCards{
            width: 100%;
            max-width: 100%;
            padding-left: 50px;
            box-sizing: border-box;
            > .card{
                float: inherit;
                margin: 50px auto;
            }
        }
    }
}