@import './style.scss';

#singleProjectPage{
    width: 100%;
    text-align: center;
    padding-bottom: 150px;
    overflow-x: hidden;
    .post{
        max-width: 800px;
        margin: 100px auto 50px auto;
        padding: 0 50px;
        display: block;
        text-align: left;
        h1{
            margin: 0;
            font-size: 30px;
            font-family: latoMedium;
        }
        p{
            margin: 20px 0 30px 0;
            font-size: 20px;
            font-family: latoLight;
        }
        .charcoalButton{
            float: right;
        }
    }
    $maxWidth: 1920px;
    $gap: 50px;
    .samples{
        width: 100%;
        max-width: 1920px;
        display: inline-block;
        margin: 50px auto 0 auto;
        padding: 0 50px;
        box-sizing: border-box;
        > *{
            margin: 0;
            position: relative;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #desktop{
            max-width: $maxWidth;
            $width: 100%;
            width: $width;
            padding-bottom: $width * 0.5625;
        }
        $tabletRatio: .64;
        #tablet{
            $maxW: $tabletRatio * $maxWidth;
            $width: $maxW / $maxWidth * 100% ; 
            max-width: $maxW;
            width: $width;
            padding-bottom: ( $width * 1.01 );
        }
        #mobile{
            $maxW: (1 - $tabletRatio) * $maxWidth;
            $width: $maxW / $maxWidth * 100% ; 
            max-width: $maxW;
            width: $width;
            height: 0;
            padding-bottom: ( $width / 0.5566 );
        }
    }
    .builtWith{
        $yGap: 30px;
        font-family: latoMedium;
        max-width: $maxWidth;
        background: #262F8F;
        border-radius: 10px;
        display: inline-block;
        margin: 50px $gap 0 $gap;
        box-sizing: border-box;
        padding: 0 $yGap $yGap $yGap;
        h2{
            font-size: 18px;
            margin: 0;
            padding: 10px 30px;
            display: inline-block;
            background-image: url('./Assets/builtWithBG.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        .tools{
            width: 100%;
            div{
                width: 200px;
                display: inline-block;
                margin-top: $yGap;
                h3{
                    margin: 10px 0 0 0;
                    font-size: 18px;
                }
                img{
                    height: 75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #singleProjectPage{
        .samples{
            #tablet{
                $width: 100%; 
                max-width: $width;
                width: $width;
                padding-bottom: 100%;
            }
            #mobile{
                $width: 100%; 
                max-width: $width;
                width: $width;
                padding-bottom: 180%;
            }
        }
        .builtWith{
            .tools{
                div{
                    img{
                        height: 60px;
                    }
                    h3{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}