$primaryBlack: #000;
$lifeColor: #064E3B;
$workColor: #1A237E;

@font-face {
    font-family: 'latoLight';
    src: url('./Fonts/latoLight.woff2') format('woff2'),
         url('./Fonts/latoLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoMedium';
    src: url('./Fonts/latoMedium.woff2') format('woff2'),
         url('./Fonts/latoMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: $primaryBlack;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

@mixin breathingFragment($Width: 180px){
    $width: $Width;
    $height: $width / 1.241379310344828;
    width: $width;
    height: $height;
}
.breathingFragment{
    @include breathingFragment();
}

.noPeaky{
    clip: rect(1px, 1px, 1px, 1px) !important;
    border: 0px none !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.title{
    $fontSize: 100px;
    $letterSpacing: 55px;
    height: $fontSize;
    width: 100%;
    text-align: center;
    padding: 75px 0 150px 0;
    position: relative;
    overflow: hidden;
    h1{
        font-size: $fontSize;
        font-family: latoMedium;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: $letterSpacing;
        padding-left: $letterSpacing;
        display: inline-block;
    }
    h1::after{
        $gap: 7px;
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: $fontSize;
        font-family: latoMedium;
        margin: 0 auto;
        letter-spacing: $letterSpacing;
        padding-top: $gap;
        padding-left: 50px - $gap;
        display: inline-block;
        opacity: .13;
    }
    div{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -25%);
        font-size: 400px;
        $spacing: 300px;
        letter-spacing: $spacing;
        padding-left: $spacing;
        opacity: .06;
        font-family: latoMedium;
    }
}
#aboutPage{
    h1::after{
        content: 'ABOUT';
    }
}
#characterPage{
    h1::after{
        content: 'CHARACTER';
    }
}

@media only screen and (max-width: 1366px) {
    .title{
        padding-bottom: 100px;
        div{
            transform: translate(-50%, -15%);
            font-size: 300px;
            $spacing: 100px;
            letter-spacing: $spacing;
            padding-left: $spacing;
        }
    }
}

@media only screen and (max-width: 768px) {
    .title{
        padding-top: 50px;
        padding-bottom: 50px;
        div{
            transform: translate(-50%, -16%);
            font-size: 180px;
            $spacing: 50px;
            letter-spacing: $spacing;
            padding-left: $spacing;
        }
        h1{
            padding-left: 35px;
        }
        h1, h1::after{
            font-size: 50px;
            letter-spacing: 24px;
        }
        h1::after{
            padding-left: 24px;
            padding-top: 5px;
        }
    }
}

@media only screen and (max-width: 428px) {
    .title{
        height: 50px;
        overflow: visible;
        div{
            width: 210px;
            transform: translate(-50%, -10%);
            font-size: 80px;
            word-wrap: break-word;
            $spacing: 40px;
            letter-spacing: $spacing;
            padding-left: $spacing;
        }
    }
}