@font-face {
  font-family: "latoLight";
  src: url("./Fonts/latoLight.woff2") format("woff2"), url("./Fonts/latoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latoMedium";
  src: url("./Fonts/latoMedium.woff2") format("woff2"), url("./Fonts/latoMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
}

main, main article {
  width: 100vw;
  height: 100vh;
}
main article {
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.breathingFragment {
  width: 180px;
  height: 145px;
}

.noPeaky {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0px none !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

article > .title {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 75px 0 150px 0;
  position: relative;
  overflow: hidden;
}
article > .title h1 {
  font-size: 100px;
  font-family: latoMedium;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 55px;
  padding-left: 55px;
  display: inline-block;
}
article > .title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: latoMedium;
  margin: 0 auto;
  letter-spacing: 55px;
  padding-top: 7px;
  padding-left: 43px;
  display: inline-block;
  opacity: 0.13;
}
article > .title div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 400px;
  letter-spacing: 300px;
  padding-left: 300px;
  opacity: 0.06;
  font-family: latoMedium;
}

#aboutPage h1::after {
  content: "ABOUT";
}

#characterPage h1::after {
  content: "CHARACTER";
}

#projectsPage h1::after {
  content: "PROJECTS";
}

#contactPage h1::after {
  content: "CONTACT";
}

.card {
  border-radius: 10px;
  font-family: latoMedium;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.4);
  background: rgb(11, 43, 34);
  background: linear-gradient(45deg, rgb(11, 43, 34) 0%, rgb(43, 189, 150) 100%);
}

.card.cobalt {
  background: rgb(7, 12, 88);
  background: linear-gradient(-45deg, rgb(7, 12, 88) 0%, rgb(7, 12, 88) 50%, rgb(72, 99, 255) 100%);
}

.card.reverseLight {
  box-shadow: -5px 10px 20px 5px rgba(0, 0, 0, 0.4);
}

.charcoalButton {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  font-size: 20px;
  background: rgb(26, 35, 126);
  background: linear-gradient(-45deg, rgb(26, 35, 126) 0%, rgb(21, 68, 227) 100%);
  border: 0;
  border-radius: 5px;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
  transform-origin: 100% 100%;
}

.charcoalButton:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.grecaptcha-badge {
  visibility: hidden;
}

@media only screen and (max-width: 1366px) {
  article > .title {
    padding-bottom: 100px;
  }
  article > .title div {
    transform: translate(-50%, -15%);
    font-size: 300px;
    letter-spacing: 100px;
    padding-left: 100px;
  }
  #characterPage > .title h1 {
    font-size: 60px;
    top: 20%;
    left: 50%;
    letter-spacing: 35px;
    padding-left: 35px;
  }
  #characterPage > .title h1::after {
    font-size: 60px;
    letter-spacing: 35px;
  }
  #projectsPage > .title h1, #contactPage > .title h1 {
    font-size: 80px;
    top: 10%;
    left: 50%;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  #projectsPage > .title h1::after, #contactPage > .title h1::after {
    font-size: 80px;
    letter-spacing: 40px;
  }
}
@media only screen and (max-width: 768px) {
  article > .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  article > .title div {
    transform: translate(-50%, -16%);
    font-size: 180px;
    letter-spacing: 50px;
    padding-left: 50px;
  }
  article > .title h1 {
    padding-left: 35px;
  }
  article > .title h1, article > .title h1::after {
    font-size: 50px;
    letter-spacing: 24px;
  }
  article > .title h1::after {
    padding-left: 24px;
    padding-top: 5px;
  }
  #characterPage > .title h1 {
    font-size: 35px;
    top: 20%;
    left: 50%;
    letter-spacing: 20px;
    padding-left: 20px;
  }
  #characterPage > .title h1::after {
    font-size: 35px;
    letter-spacing: 20px;
  }
  #projectsPage > .title h1, #contactPage > .title h1 {
    font-size: 35px;
    top: 20%;
    left: 50%;
    letter-spacing: 20px;
    padding-left: 20px;
  }
  #projectsPage > .title h1::after, #contactPage > .title h1::after {
    font-size: 35px;
    letter-spacing: 20px;
  }
  .charcoalButton {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 428px) {
  article > .title {
    height: 50px;
    overflow: visible;
  }
  article > .title div {
    width: 300px;
    transform: translate(-50%, -10%);
    font-size: 80px;
    word-wrap: break-word;
    letter-spacing: 40px;
    padding-left: 40px;
  }
  #characterPage > .title h1 {
    top: 25%;
    font-size: 40px;
    letter-spacing: 10px;
    padding-left: 10px;
  }
  #characterPage > .title h1::after {
    font-size: 40px;
    letter-spacing: 10px;
    padding-top: 3px;
    padding-left: 15px;
  }
  #characterPage > .title div {
    width: 220px;
    font-size: 60px;
    letter-spacing: 30px;
    padding-left: 30px;
  }
  #projectsPage > .title h1, #contactPage > .title h1 {
    font-size: 30px;
    top: 20%;
    left: 50%;
    letter-spacing: 15px;
    padding-left: 15px;
  }
  #projectsPage > .title h1::after, #contactPage > .title h1::after {
    font-size: 30px;
    letter-spacing: 15px;
  }
  #projectsPage > .title div, #contactPage > .title div {
    width: 220px;
    font-size: 60px;
    letter-spacing: 30px;
    padding-left: 30px;
  }
  #contactPage > .title div {
    width: 230px;
  }
}/*# sourceMappingURL=style.css.map */